body {
  background-color: #f8f3e1;
  margin: 1em auto;
  padding: 1em;
  max-width: 960px;
  border: #aeb784 3px dashed;
  border-radius: 12px;
}

h1 {
  color: #41431b;
  text-align: center;
  font-family: cursive;
}

div.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-content img {
  max-width: 430px;
  transform: rotate(90);
}

#gallery-content img {
  max-height: 200px;
}

div.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.nav {
  display: flex;
  justify-content: center;
}

ul.nav {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  width: 140px;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  border: #41431b dashed 1px;
  border-radius: 4px;
}

ul.hidden-nav li {
  margin: 0;
  padding: 0.5em 0;
  border: #aeb784 dashed 1px;
  background-color: #f8f3e1;
}

ul.hidden-nav {
  position: absolute;
  margin: 4px 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.nav li:hover ul.hidden-nav {
  display: block;
}
.nav ul.hidden-nav:hover {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

p.footer {
  text-align: center;
  font-size: 0.6em;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

td,
th {
  padding: 0.5em 1em;
  border: #41431b dashed 1px;
}

th {
  text-align: left;
}

#pattern-table img {
  max-height: 128px;
}

.section-selected {
  font-weight: bold;
}

div.centered-img-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div.centered-img-list img {
  margin: 0;
  max-width: 100px;
}

/* Contact Form */
input,
textarea,
select {
  border: #41431b dashed 1px;
  border-radius: 6px;
  padding: 0.5em;
  box-sizing: border-box; /* Include padding/border in element's width */
  width: 100%;
}

textarea {
  resize: vertical;
}

input[type="email"]:invalid {
  background-color: rgb(255, 210, 210);
}

input[type="email"]:valid,
input[type="text"]:valid,
textarea:valid {
  background-color: rgb(240, 255, 240);
}

#contact-content td {
  border: none;
  text-align: left;
}

#contact-content h3 {
  margin: 0.3em 0em;
}
