body {
  box-sizing: border-box;
  max-width: 960px;
  background-color: #f8f3e1;
  margin: 1em auto;
  padding: 1em 2em;
  border: #aeb784 3px dashed;
  border-radius: 12px;
}

h2 {
  text-align: center;
}

h3 {
  padding: 0;
  margin: 0;
}

hr {
  border: dashed 1px #aeb784;
  margin: 3em;
}

a {
  color: #41431b;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

td,
th {
  padding: 0.5em 1em;
  border: #41431b dashed 1px;
}

th {
  text-align: left;
}

table tr:first-child th {
  /* Hide first cell of table */
  border: none;
}

#pattern-table img,
#options-table img {
  max-height: 8em;
  max-width: 16em;
}
img {
  transition: all 0.1s ease-in;
}
img:hover {
  transform: scale(1.03);
}

/* Reusable styles */
p.center {
  text-align: center;
}

b.emphasize {
  color: #1c1d0c;
  font-size: 1.2em;
}

.inline-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: top;
}
.materials-presentation {
  max-width: 350px;
  padding: 1em;
  border: #aeb784 dashed 1px;
  border-radius: 6px;
}

div.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.centered-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

div.inline-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  overflow-x: scroll;
}

div.centered-list img {
  margin: 0;
  max-width: 6em;
  max-height: 12em;
}

.selected {
  font-weight: bold;
  background-color: #aeb784;
}

.hidden-hint {
  display: none;
}

td:has(.hidden-hint):hover {
  position: relative;
  cursor: help;
  font-weight: bold;
}

td:hover .hidden-hint {
  display: block;
  position: absolute;
  bottom: 2em;
  right: 0;
  background-color: #e3dbbb;
  padding: 0.5em;
  font-size: 0.8em;
  z-index: 1;
  text-align: justify;
  font-weight: normal;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

h1 {
  color: #41431b;
  text-align: center;
  font-family: cursive;
  transition: all 1.5s ease-out;
  width: 250px;
  padding: 0;
  margin: 0;
}

h1:hover {
  transform: scale(1.3);
}

/* Navigation */

ul.nav {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.nav a {
  display: block;
  width: 100px;
  height: fit-content;
  text-align: center;
  margin: 0.4em;
  padding: 0.4em;
  border: #41431b dashed 1px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

ul.hidden-nav a {
  margin: 0;
  padding: 0.5em 0;
  border: #aeb784 dashed 1px;
  background-color: #f8f3e1;
}

ul.hidden-nav {
  position: absolute;
  margin: -0.75em 0.75em;
  padding: 0;
  list-style-type: none;
  display: none;
}

.nav li:has(ul.hidden-nav):hover {
}

.nav li:hover ul.hidden-nav {
  display: block;
  transition: display 0.5s ease-in;
}
.nav ul.hidden-nav:hover {
  display: block;
}

.nav a:hover {
  transform: scale(1.02);
  background-color: #e3dbbb;
  box-shadow: 2px 2px 2px #aeb784;
}

/* Footer */
p.footer {
  text-align: center;
  font-size: 0.6em;
  margin-top: 6em;
}

/* Home */

#home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-content div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#home-content img {
  margin: 1em;
  max-width: 430px;
  animation: emph 2s ease-in-out alternate infinite;
}

#home-content p {
  position: relative;
  width: max-content;
  aspect-ratio: 1/1;
  font-style: italic;
  font-size: 1.5em;
  padding: 2em 2em;
  margin: 2em;
  border: #aeb784 solid 1px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #aeb784;
  transition:
    scale 0.4s ease-out,
    box-shadow 0.1s ease-out;
  text-align: center;
  align-content: center;
}

#home-content p::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: #aeb784 dashed 1px;
  border-radius: 6px;
}

#home-content p:hover {
  transform: scale(1.05);

  box-shadow: 2px 2px 2px #aeb784;
}

/* About */

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: dashed 2px #aeb784;
  border-radius: 5px;
}

.person img:hover {
  transform: none;
}

.person:hover {
  transform: scale(1.02);
  background-color: #e3dbbb;
  box-shadow: 4px 4px 4px #aeb784;
}

/* Gallery */

#gallery-content img {
  width: 14em;
  max-height: 20em;
  margin-left: 14em;
  margin-right: 14em;
}

#gallery-content .inline-list {
  width: 15em;
  overflow-x: hidden;
}

.carousel-slider {
  margin-top: 1em;
}

.carousel-slider a {
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  background-color: #e3dbbb;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: dashed 1px #41431b;
  color: black;
  text-decoration: none;
}

.carousel-slider a:hover {
  background-color: #aeb784;
  font-weight: bold;

  transform: scale(1.02);
  box-shadow: 1px 1px 1px #aeb784;
}

.carousel-slider a:active {
  color: green;
}

/* Products */

/* Contact Form */
input,
textarea,
select {
  border: #41431b dashed 1px;
  border-radius: 6px;
  padding: 0.5em;
  box-sizing: border-box; /* Include padding/border in element's width */
  width: 100%;
}

textarea {
  resize: vertical;
}

input[type="email"]:invalid {
  background-color: rgb(255, 210, 210);
}

input[type="email"]:valid,
input[type="text"]:valid,
textarea:valid {
  background-color: rgb(240, 255, 240);
}

#contact-content td {
  border: none;
  text-align: left;
}

#contact-content h3 {
  margin: 0.3em 0em;
}

/* Animation */

@keyframes emph {
  from {
    transform: rotate(-2deg);
    scale: 1.02;
  }
  to {
    transform: rotate(2deg);
    scale: 0.98;
  }
}
